.jumbotron {
    background-color:#FBEFF5;
    color:#8A0886;
    margin-top: 40px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: #A9BCF5;
    margin-bottom:0px;
    margin-top: 10px;
}
.btn{
    background-color:#A9F5F2;
    color:black;
    border:2px solid #233431;
}
.card-proyecto{
    flex: 1 150px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}
.btn-reserve{
width: 100%;
    border-radius:0px;
}
h3{
    background-color:white;
    color:#BEF781;
}
p{
background-color:white;
    color:purple;
}
.footer-address-icon{
    padding-right: 10px;
}
.tab-content{
    padding-top: 10px;
}